aside{
    background-image: linear-gradient(135deg,#3E7CB1,#054A91) ;
}
h1{
    text-align: center;
}
.text{
    grid-area: text;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:5px;
    align-self: auto;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    
    background-color: rgba(131, 131, 214, 0.64);

    ul{
        list-style: none;
        
    }



}