@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.estrutura{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr 0fr;
    grid-template-areas:
    "cabeca cabeca cabeca cabeca"
    "content content content content"
    "text text text text"
    "feet feet feet feet";
}
@media(max-width: 1200px){
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imagem1 imagem2"
        "imagem3 imagem4"
        "imagem5 imagem6"
        "imagem7 imagem8";
    }
}

@media(max-width:640px){
    .content{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "imagem1" 
        "imagem2"
        "imagem3" 
        "imagem4"
        "imagem5" 
        "imagem6"
        "imagem7" 
        "imagem8";
    }
    .cabeca{
        ul{
            display: flex;
            flex-wrap: nowrap;
        }
    }
    .text{
        width: 100%;
        margin: auto;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        ul{
            padding: 0;
        }
    }
}